@font-face {
  font-family: 'arcade-major';
  src: url(fonts/ka1.ttf);
}

@font-face {
  font-family: 'arcade-minor';
  src: url(fonts/ArcadeAlternate.ttf);
}

body {
  cursor: default;
  margin: 0;
  overflow: hidden;
}

main {
  height: 100vh;
  background-image: url("images/Strawberry_Pattern_2_01.jpg");
  background-size: 100%;
}

/* #startButtonScreen{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#playButton{
  height: 20vmin;
} */

header {
  background-color: #9FBC61;
  font-family: 'arcade-major';
  height: 8vm;
  font-size: 5.5vmin;
  align-items: center;
  /* text-align: center; */
  text-align: center;
  padding: 20px;
  position: fixed;
  color: antiquewhite;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: antiquewhite;
  font-family: 'arcade-minor';
  text-decoration: none;
  color: black;
  box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
}

#game-container {
  padding-top: 1.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-screen {
  background-color: #9FBC61;
  background-image: url(images/game-screen-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid antiquewhite;
  padding: 5px;
  height: 60vmin;
  width: 60vmin;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}

#game-grid {
  height: 60vmin;
  width: 60vmin;
  display: grid;
  grid-template-rows: repeat(22, 1fr);
  grid-template-columns: repeat(22, 1fr);
  align-items: center;
}

.worm {
  background-color: palevioletred;
  border: 1px solid;
  border-radius: 6px;
  height: 80%;

}

.alternateWormClass {
  background-color: rgb(168, 69, 89);
  border: 1px solid;
  border-radius: 3px;
  height: 90%
}

#difficulty-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'arcade-minor';
  font-size: 2.2vmin;
  margin-bottom: 1vh;
  background-color: #F6BB53;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#game-options {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#score {
  font-family: 'arcade-minor';
  font-size: auto;
  margin-left: 20px;
}

#restart-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vmin;
  font-size: 2.5vmin;
  background-color: rgba(250, 235, 215, 0.395);
  padding: 20px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.376);
  border: 3px solid rgba(0, 0, 0, 0.238);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: 'arcade-minor';
  margin-top: 1vh;
  cursor: pointer;
}

select {
  font-family: 'arcade-minor';
  background-color: antiquewhite;
  font-size: larger;
  cursor: pointer;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-left: 5px;
  padding: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

/* fruit icon classes */
#apple {
  background-image: url(images/fruit-icons/apple.png);
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  height: 100%;
  background-size: 100%;
}

#banana {
  background-image: url(images/fruit-icons/banana.png);
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  height: 100%;
  background-size: 100%;
}

#blackberry {
  background-image: url(images/fruit-icons/blackberry.png);
  background-size: 100%;  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  height: 100%;
  background-size: 100%;}

#orange {
  background-image: url(images/fruit-icons/orange.png);
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  height: 100%;
  background-size: 100%;
}

#pear {
  background-image: url(images/fruit-icons/pear.png);
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  height: 100%;
  background-size: 100%;
}

#strawberry {
  background-image: url(images/fruit-icons/strawberry.png);
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  height: 100%;
  background-size: 100%;
}




@media (hover:hover) {
  #restart-game:hover {
    background-color: #F6BB53;
    border: 3px solid black;
    color: black;
  }

}